.wrapper-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loader {

    width: 50px;
    height: 50px;

    border-radius: 50%;

    border: 5px solid #670000;
    border-right-color: #ec1717;

    animation: loader 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite;
}

@keyframes loader {
    0% {
        border-top-color: none;
        border-left-color: none;
        transform: rotate(0);
    }

    30% {
        border-top-color: #ec1717;
    }

    40% {
        border-bottom-color: #ec1717;
    }

    50% {
        border-top-color: #670000;
        border-bottom-color: #670000;
        border-left-color: #ec1717;
    }

    100% {
        transform: rotate(360deg);
    }
}